*, *::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
  font-family: poppins;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

textarea, button, input {
  border: none;
  outline: none;
  font-family: poppins;
  resize: none;
}

body {
  font-size: 1.4rem;
  background-color: #EED8B9;
}

html, body {
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

h5 {
  cursor: default;
}

body > section {
  position: relative;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons {
  color: #f1f1f1;
  font-size: 1.6rem;
  background-color: #FF6517;
  padding: 10px 15px;
  border-radius: 10px;
}

.buttons > span {
  margin-left: 10px;
}

.buttons:hover {
  background-color: #FC8C54;
}

h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.4rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 80px;
  letter-spacing: 1%;
  cursor: default;
}

.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: local no-repeat right bottom url(../images/cover-desktop.png);
  background-size: cover;
  overflow: hidden;
}

.landing {
  height: 100vh;
}

.landing .logo {
  display: block;
  width: 45px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 20px;
  z-index: 2;
}

.landing .logo > svg {
  width: 45px;
  height: 30px;
}

#toggle {
  display: none;
}

/* Toggle Button */
.button-toggle {
  position: absolute;
  right: 0;
  top: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 1;
}

.button-toggle:before, .button-toggle:after, .button-toggle > span {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-toggle > span {
  -webkit-transform: scalex(0.7);
          transform: scalex(0.7);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.button-toggle:before {
  -webkit-transform: translateY(-350%) rotate(0) scale(1);
          transform: translateY(-350%) rotate(0) scale(1);
}

.button-toggle:after {
  -webkit-transform: translateY(350%) rotate(0) scale(1);
          transform: translateY(350%) rotate(0) scale(1);
}

.nav {
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  right: 27px;
  top: 25px;
  z-index: 2;
}

.nav-item {
  position: relative;
  display: block;
  margin-left: 54px;
  color: transparent;
  font-size: 14px;
  letter-spacing: -4px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transform: scaleY(0.15);
          transform: scaleY(0.15);
}

#toggle:checked ~ .toggle-container .button-toggle {
  -webkit-box-shadow: 0 0 0 650px rgba(0, 0, 0, 0.8), inset 0 0 0 20px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 0 650px rgba(0, 0, 0, 0.8), inset 0 0 0 20px rgba(0, 0, 0, 0.8);
}

#toggle:checked ~ .toggle-container .button-toggle > span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle:checked ~ .toggle-container .button-toggle:before {
  -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
          transform: translateY(-50%) rotate(45deg) scale(1);
  background-color: #FC8C54;
}

#toggle:checked ~ .toggle-container .button-toggle:after {
  -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
          transform: translateY(-50%) rotate(-45deg) scale(1);
  background-color: #FC8C54;
}

#toggle:checked ~ .nav {
  pointer-events: auto;
  -webkit-transform: translatey(100px);
          transform: translatey(100px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#toggle:checked ~ .nav .nav-item {
  color: #f1f1f1;
  letter-spacing: 1px;
  height: 20px;
  line-height: 20px;
  margin-top: 30px;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.5s, opacity 0.1s;
  transition: 0.5s, opacity 0.1s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#toggle:checked ~ .nav .nav-item:first-of-type {
  margin-top: 0;
}

#toggle:checked ~ .nav .nav-item.ticket {
  opacity: 1;
}

#toggle:checked ~ .nav .nav-item:hover:not(:last-of-type) {
  color: #FF6517;
}

#toggle:checked ~ .nav .nav-item:before {
  opacity: 0;
}

.ticket {
  position: relative;
  opacity: 0;
}

.ticket:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.ticket::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #FF6517;
  bottom: -5px;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0.4);
          transform: scaleX(0.4);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.landing-header {
  position: absolute;
  top: 55%;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-header > h2 {
  color: #f1f1f1;
  font-size: 3.6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 50px;
}

.landing-header > h2 > span {
  color: #FF6517;
}

.landing-header > p {
  margin-top: -25px;
  color: #cccccc;
  font-size: 1.4rem;
  width: 100%;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.landing-header > p > span {
  width: 100%;
  text-align: center;
}

.history img {
  border-radius: 25px;
}

.history > div {
  margin-top: 60px;
}

.history > div:first-of-type {
  margin-top: 0;
}

.history p {
  color: #1f1f1f;
  font-size: 1.4rem;
}

.history h5 {
  font-size: 2rem;
  color: #505050;
  font-weight: 400;
  line-height: 50px;
}

.history .read-btn {
  margin: 20px 0;
}

.gallery-section {
  background-color: #f1f1f1;
}

.gallery-section > div {
  max-width: 700px;
}

.gallery {
  margin-bottom: 40px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 15px 15px;
      grid-template-areas: "main main sub" "main main sub2";
}

.gallery img {
  border-radius: 25px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .main-img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
}

.gallery .sub-img {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: sub;
  height: 100%;
}

.gallery .sub2-img {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sub2;
  height: 100%;
}

.shop-container {
  width: 100%;
}

.shop {
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  width: 100%;
}

.shop-card {
  background-color: #f1f1f1;
  margin: 0 20px;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 25px;
  padding: 20px 30px 0 30px;
}

.shop-card:first-child {
  margin-left: 5%;
}

.shop-card .card-img {
  width: 220px;
  height: 180px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
}

.shop-card .card-img img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.shop-card .card-img img:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.shop-card .card-info {
  width: 100%;
  margin-top: 20px;
}

.shop-card .card-info span:first-child {
  font-weight: 700;
  display: block;
  color: #1f1f1f;
}

.shop-card .card-info span:last-child {
  display: block;
  font-size: 1.4rem;
  color: #505050;
}

.shop-card .card-size {
  margin-top: 10px;
}

.shop-card .card-size span {
  color: #1f1f1f;
  font-size: 1.4rem;
  font-weight: 500;
}

.shop-card .card-size .size-btn {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 200px;
}

.shop-card .card-size .size-btn > a {
  width: 40px;
  height: 40px;
  border: solid 1px #1f1f1f;
  color: #505050;
  border-radius: 50%;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  text-align: center;
  line-height: 40px;
}

.shop-card .card-size .size-btn > a:hover {
  background-color: #FF6517;
  border-color: transparent;
  color: #f1f1f1;
}

.shop-card .card-btn {
  margin-top: 20px;
  width: 260px;
  height: 60px;
  background-color: #000000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 25px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.shop-card .card-btn > a {
  padding: 7.5px 30px;
  font-weight: 500;
}

.shop-card .card-btn > a > span {
  font-size: 1.2rem;
  color: #cccccc;
}

.shop-card .card-btn > a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f1f1f1;
}

.shop-card .card-btn:hover {
  background-color: #1f1f1f;
}

.music-section {
  background-color: #f1f1f1;
  overflow: hidden;
}

.music-section > h3 {
  width: 100%;
  text-align: center;
}

.album-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.album-cover > a {
  position: relative;
}

.album-cover > a:hover > div {
  opacity: 1;
}

.album-cover > a div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #0000006e;
  opacity: 0;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album-cover > a div span {
  font-size: 2rem;
  font-weight: 500;
  color: #f1f1f1;
  cursor: pointer;
}

.album-cover .i-can-see-cover {
  width: 75%;
  max-width: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.album-cover .i-can-see-cover img {
  width: 75%;
  max-width: 200px;
}

.album-cover .rajaz-cover {
  width: 100%;
  max-width: 266.66667px;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
}

.album-cover .rajaz-cover img {
  width: 100%;
  max-width: 266.66667px;
}

.album-cover .stationary-traveller-cover {
  width: 150%;
  max-width: 400px;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

.album-cover .stationary-traveller-cover img {
  width: 150%;
  max-width: 400px;
}

.music-player {
  margin-top: 60px;
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 500px;
  background-color: #1f1f1f;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.music-player .controlers {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #1f1f1f;
  border: 2px solid #FF6517;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  padding: 10px 15px;
}

.music-player .controlers > a:nth-child(2) {
  width: 45px;
  height: 45px;
}

.music-player .controlers > a:nth-child(2) svg path {
  fill: #FF6517;
}

.music-player .controlers > a:nth-child(2):hover svg path {
  fill: #f1f1f1;
}

.music-player .controlers > a {
  width: 18px;
  height: 22px;
  margin: 0 10px;
}

.music-player .controlers > a svg {
  width: 100%;
  height: 100%;
}

.music-player .controlers > a svg > path {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  fill: #f1f1f1;
}

.music-player .controlers > a:hover svg path {
  fill: #FF6517;
}

.music-player .play-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 40px;
  height: 90%;
  width: 100%;
  max-width: 400px;
  padding: 20px 30px 0 30px;
}

.music-player .play-list div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95%;
}

.music-player .play-list div a, .music-player .play-list div span {
  display: block;
  color: #f1f1f1;
  -webkit-transition: all;
  transition: all;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.music-player .play-list div a:hover {
  color: #FC8C54;
}

.music-player .play-list div:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact-section {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section form {
  width: 90%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.contact-section form label {
  color: #505050;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.contact-section form input, .contact-section form textarea {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0px 20px;
  color: #1f1f1f;
  font-size: 1.4rem;
  caret-color: #505050;
}

.contact-section form div {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.contact-section form .contact-mail {
  height: 70px;
}

.contact-section form .contact-text {
  height: 240px;
}

.contact-section form .contact-text textarea {
  padding-top: 10px;
  display: block;
}

.contact-section form .contact-btn button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #FF6517;
  color: #f1f1f1;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.contact-section form .contact-btn button:hover {
  background-color: #FC8C54;
}

.contact-section form .contact-btn button span {
  margin-left: 5px;
}
/*# sourceMappingURL=main.css.map */