.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .col-s-1 {
    width: 8.33333%;
  }
  .col-s-2 {
    width: 16.66667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33333%;
  }
  .col-s-5 {
    width: 41.66667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33333%;
  }
  .col-s-8 {
    width: 66.66667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33333%;
  }
  .col-s-11 {
    width: 91.66667%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33333%;
  }
  .col-m-2 {
    width: 16.66667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33333%;
  }
  .col-m-5 {
    width: 41.66667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33333%;
  }
  .col-m-8 {
    width: 66.66667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33333%;
  }
  .col-m-11 {
    width: 91.66667%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .col-l-1 {
    width: 8.33333%;
  }
  .col-l-2 {
    width: 16.66667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33333%;
  }
  .col-l-5 {
    width: 41.66667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33333%;
  }
  .col-l-8 {
    width: 66.66667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33333%;
  }
  .col-l-11 {
    width: 91.66667%;
  }
  .col-l-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  #toggle:checked ~ .toggle-container .button-toggle {
    -webkit-box-shadow: 0 0 0 850px rgba(0, 0, 0, 0.8), inset 0 0 0 20px rgba(0, 0, 0, 0.8);
            box-shadow: 0 0 0 850px rgba(0, 0, 0, 0.8), inset 0 0 0 20px rgba(0, 0, 0, 0.8);
  }
  .footer-section {
    height: 600px;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.7rem;
  }
  .logo {
    width: 65px;
    height: 45px;
  }
  .column-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .offset-1 {
    margin-left: 8.33333%;
  }
  .history p {
    font-size: 1.7rem;
  }
  .buttons {
    font-size: 2rem;
  }
  .footer-section {
    height: 700px;
  }
  .copy-right > div span {
    margin-right: 50px;
  }
}

@media screen and (min-width: 992px) {
  h3 {
    font-size: 4.2rem;
    line-height: 120px;
  }
  .nav-bar {
    display: none;
  }
  .navbar-desktop {
    display: block;
  }
  .landing-header {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 230px;
    top: 25%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .landing-header > h2 {
    font-size: 7.2rem;
  }
  .landing-header > p {
    font-size: 1.7rem;
    margin-top: -10px;
  }
  .landing-header > p span {
    text-align: left;
  }
  .history h5 {
    font-size: 3.2rem;
  }
  .footer-section footer {
    height: 300px;
  }
  .site-links > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .site-links > ul > li {
    margin-left: 80px;
  }
  .site-links > ul > li:first-of-type {
    margin-left: 0;
  }
  .site-links > ul > li ul {
    display: block;
  }
  .site-links > ul > li ul li {
    margin-top: 10px;
  }
  .site-links label {
    display: none;
  }
  .display-none {
    display: block;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section {
    height: 800px;
  }
  .site-links > ul > li {
    margin-left: 120px;
  }
  .social-links {
    height: 115px;
    width: 115px;
    gap: 15px 15px;
  }
  .social-links svg {
    width: 50px;
    height: 50px;
  }
  .container {
    width: 80%;
  }
  .container-width {
    width: 80%;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 75%;
  }
  .container-width {
    width: 75%;
  }
  .footer-section {
    background: left url(../images/Vector/Egypt-Desktop2.svg);
  }
}
/*# sourceMappingURL=Responsive.css.map */