*, *::after, ::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  background: #ff874a;
  color: #f1f1f1;
}

::selection {
  background: #ff874a;
  color: #f1f1f1;
}

html {
  font-size: 62.5%;
  font-family: poppins;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

textarea, button, input {
  border: none;
  outline: none;
  font-family: poppins;
  resize: none;
}

body {
  font-size: 1.4rem;
  background-color: #EED8B9;
}

html, body {
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

h5 {
  cursor: default;
}

@-webkit-keyframes gallery {
  0% {
    opacity: .4;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 3;
  }
}

@keyframes gallery {
  0% {
    opacity: .4;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 3;
  }
}

body > section {
  position: relative;
  width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-width {
  width: 90%;
}

.buttons {
  color: #f1f1f1;
  font-size: 1.6rem;
  background-color: #FF6517;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.buttons > span {
  margin-left: 10px;
}

.buttons:hover {
  background-color: #ff874a;
}

h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.4rem;
  font-weight: 500;
  color: #1f1f1f;
  line-height: 80px;
  letter-spacing: 1%;
  cursor: default;
}

.offset-m-1 {
  margin-left: 0;
}

.offset-l-1 {
  margin-left: 0;
}

.tour-container {
  position: relative;
  width: 100%;
  height: 1200px;
  background: fixed no-repeat url(../../images/concert.png);
  background-size: cover;
  overflow: hidden;
}

.tour-dates {
  top: 100px;
}

.tour-dates h3 {
  color: #f1f1f1;
  border-bottom: solid 1px #FF6517;
  width: 100%;
}

.tour-dates h3 span {
  color: #FF6517;
}

.date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  border-bottom: solid 1px #505050;
  width: 100%;
}

.date:last-child {
  border: none;
}

.date > span {
  font-size: 1.4rem;
  color: #f1f1f1;
  display: block;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin: 6px 0;
}

.date > span:last-of-type {
  margin-bottom: 20px;
}

.date a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.nav-bar {
  width: 100%;
}

.nav-bar > div {
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone-l {
  left: 0px;
  top: 20px;
  position: absolute;
}

.logo {
  display: block;
  width: 45px;
  height: 30px;
  z-index: 2;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.logo svg path {
  fill: #ff874a;
}

.logo:hover svg path {
  fill: #FF6517;
}

#toggle {
  display: none;
}

/* Toggle Button */
.button-toggle {
  position: absolute;
  right: 0;
  top: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 1;
}

.button-toggle:before, .button-toggle:after, .button-toggle > span {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f1f1f1;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button-toggle > span {
  -webkit-transform: scalex(0.7);
          transform: scalex(0.7);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.button-toggle:before {
  -webkit-transform: translateY(-350%) rotate(0) scale(1);
          transform: translateY(-350%) rotate(0) scale(1);
}

.button-toggle:after {
  -webkit-transform: translateY(350%) rotate(0) scale(1);
          transform: translateY(350%) rotate(0) scale(1);
}

.nav {
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  right: 27px;
  top: 25px;
  z-index: 2;
}

.nav-item {
  position: relative;
  display: block;
  margin-left: 54px;
  color: transparent;
  font-size: 14px;
  letter-spacing: -4px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transform: scaleY(0.15);
          transform: scaleY(0.15);
}

#toggle:checked ~ .toggle-container .button-toggle {
  -webkit-box-shadow: 0 0 0 650px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 0 650px rgba(0, 0, 0, 0.9), inset 0 0 0 20px rgba(0, 0, 0, 0.9);
}

#toggle:checked ~ .toggle-container .button-toggle > span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#toggle:checked ~ .toggle-container .button-toggle:before {
  -webkit-transform: translateY(-50%) rotate(45deg) scale(1);
          transform: translateY(-50%) rotate(45deg) scale(1);
  background-color: #ff874a;
}

#toggle:checked ~ .toggle-container .button-toggle:after {
  -webkit-transform: translateY(-50%) rotate(-45deg) scale(1);
          transform: translateY(-50%) rotate(-45deg) scale(1);
  background-color: #ff874a;
}

#toggle:checked ~ .nav {
  pointer-events: auto;
  -webkit-transform: translatey(100px);
          transform: translatey(100px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#toggle:checked ~ .nav .nav-item {
  color: #f1f1f1;
  letter-spacing: 1px;
  height: 20px;
  line-height: 20px;
  margin-top: 30px;
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.5s, opacity 0.1s;
  transition: 0.5s, opacity 0.1s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#toggle:checked ~ .nav .nav-item:first-of-type {
  margin-top: 0;
}

#toggle:checked ~ .nav .nav-item.ticket {
  opacity: 1;
}

#toggle:checked ~ .nav .nav-item:hover:not(:last-of-type) {
  color: #FF6517;
}

#toggle:checked ~ .nav .nav-item:before {
  opacity: 0;
}

.phone-t {
  opacity: 0;
}

.ticket {
  position: relative;
}

.ticket:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.ticket::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background-color: #FF6517;
  bottom: -5px;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0.4);
          transform: scaleX(0.4);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.navbar-desktop {
  width: 100%;
  position: relative;
  margin-top: 15px;
  display: none;
}

.navbar-desktop > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.navbar-desktop > div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar-desktop > div ul li {
  margin-left: 30px;
}

.navbar-desktop > div ul li a {
  color: #f1f1f1;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.navbar-desktop > div ul li:not(:last-of-type) a:hover {
  color: #cccccc;
}

.contact-section {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-section form {
  width: 90%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.contact-section form label {
  color: #505050;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.contact-section form input, .contact-section form textarea {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 0px 20px;
  color: #1f1f1f;
  font-size: 1.4rem;
  caret-color: #505050;
}

.contact-section form div {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.contact-section form .contact-mail {
  height: 70px;
}

.contact-section form .contact-text {
  height: 240px;
}

.contact-section form .contact-text textarea {
  padding-top: 10px;
  display: block;
}

.contact-section form .contact-btn button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #FF6517;
  color: #f1f1f1;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.contact-section form .contact-btn button:hover {
  background-color: #ff874a;
}

.contact-section form .contact-btn button span {
  margin-left: 5px;
}

.footer-section {
  height: 500px;
  background: local no-repeat top center url(../../images/Vector/Egypt-Phone.svg);
  background-size: cover;
  position: relative;
}

.footer-section footer {
  position: absolute;
  width: 100%;
  height: 60%;
  bottom: 0;
  background-color: #00000015;
  border-radius: 40px 40px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-links {
  height: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.display-none {
  display: none;
  cursor: default;
}

.site-links label {
  display: block;
}

.site-links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-links > ul label span {
  color: #1f1f1f;
  cursor: pointer;
}

.site-links > ul label span:hover {
  font-weight: 500;
}

.site-links > ul a {
  color: #935351;
}

.site-links > ul a:hover {
  text-decoration: underline;
}

.site-links > ul > li {
  margin-top: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0;
}

.site-links > ul > li:first-of-type {
  margin-left: 0;
}

.site-links > ul > li input {
  display: none;
}

.site-links > ul > li > input:checked ~ ul {
  display: block;
}

.site-links > ul > li > input:checked ~ Label {
  font-weight: 500;
}

.site-links > ul > li > input:checked ~ Label span {
  font-weight: 500;
}

.site-links > ul > li ul {
  display: none;
  margin-top: 5px;
  margin-left: 10px;
}

.social-links {
  height: 90px;
  width: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
}

.social-links svg {
  width: 40px;
  height: 40px;
}

.social-links svg path {
  fill: #935351;
}

.social-links a:hover > svg path {
  fill: #1f1f1f;
}

.copy-right {
  width: 100vw;
  background-color: #00000015;
}

.copy-right > div {
  margin: 5px auto;
  font-size: 1.2rem;
  line-height: 1.5em;
}

.copy-right > div span {
  color: #935351;
  cursor: default;
  margin-right: 0px;
}

.copy-right > div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copy-right > div ul li {
  margin-left: 20px;
  position: relative;
}

.copy-right > div ul li a {
  color: #505050;
}

.copy-right > div ul li a:hover {
  text-decoration: underline;
}

.copy-right > div ul li::after {
  content: "|";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  color: #935351;
}

.copy-right > div ul li:first-child {
  margin: 0;
}

.copy-right > div ul li:first-child::after {
  content: none;
}
/*# sourceMappingURL=tour-page.css.map */