.footer-section {
    height: 500px;
    background: local no-repeat top center url(../images/Vector/Egypt-Phone.svg);
    background-size: cover;
    position: relative;
  
    footer {
      position: absolute;
      width: 100%;
      height: 60%;
      bottom: 0;
      background-color: $footer-color;
      border-radius: $footer-border-radius;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
    }
  }
  .footer-links {
    height: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .display-none {
    display: none;
    cursor: default;
  }
  .site-links {
    label {
      display: block;
    }
    > ul {
      display: flex;
      flex-direction: column;
  
      label span {
        color: $text-color-black;
        cursor: pointer;
        &:hover {
          font-weight: $btn-font-weight;
        }
      }
  
      a {
        color: $footer-logo-color;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      >li {
        margin-top: 15px;
        width: fit-content;
        margin-left: 0;
  
        &:first-of-type {
          margin-left: 0;
        }
  
        input {
          display: none;
        }
  
        >input:checked ~ ul {
          display: block;
        }
        >input:checked ~ Label {
          font-weight: $btn-font-weight;
  
          span {
            font-weight: $btn-font-weight;
          }
        }
        ul {
          display: none;
          margin-top: 5px;
          margin-left: 10px;
        }
      }
    }
  }
  .social-links {
    height: 90px;
    width: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 10px;
  
    svg {
      width: 40px;
      height: 40px;
      path {
        fill: $footer-logo-color;
      }
    }
    
    a:hover > svg path {
      fill: $text-color-black;
    }
  }
  .copy-right {
    width: 100vw;
    background-color: $footer-color;
  
    > div {
      margin: 5px auto;
      font-size: $footer-font-size;
      line-height: $line-height-text;
  
      span {
        color: $footer-logo-color;
        cursor: default;
        margin-right: 0px;
      }
  
      ul {
        display: flex;
  
        li {
          margin-left: 20px;
          position: relative;
  
          a {
            color: $dark-gray-color;
  
            &:hover {
              text-decoration: underline;
            }
          }
  
          &::after {
            content: "|";
            display: block;
            position: absolute;
            top: 0;
            left: -10px;
            color: $footer-logo-color;
          }
  
          &:first-child {
            margin: 0;
  
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }
  