.landing-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background: local no-repeat right bottom url(../../images/cover-desktop.png);
  background-size: cover;
  overflow: hidden;
}

.landing {
  height: 100vh;
}

.landing-header {
  position: absolute;
  top: 55%;
  width: 100%;
  height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transform: translatey(0);

  >h2 {
    color: $text-color-white;
    font-size: $landing-header-font-size;
    width: fit-content;
    line-height: 50px;

    >span {
      color: $main-color;
    }
  }

  >p {
    margin-top: -25px;
    color: $light-gray-color;
    font-size: $main-font-size;
    width: 100%;
    line-height: $line-height-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    >span {
      width: 100%;
      text-align: center;
    }
  }
}


// History
// History
// History
.history {
  img {
    border-radius: $card-border-radius;
  }
  .h-img, .h-p {
    max-width: 500px;
    margin: 0 auto;
  }

  >div {
    margin-top: 60px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  p {
    color: $text-color-black;
    font-size: $main-font-size;
    line-height: $p-line-height;
  }

  h5 {
    font-size: $sub-header-font-size;
    color: $dark-gray-color;
    font-weight: $main-font-weight;
    line-height: $line-height-h5;
  }

  .read-btn {
    margin: 20px 0;
  }
}


// gallery
// gallery
// gallery
.gallery-section {
  background-color: $text-color-white;
}

.gallery {
  margin-bottom: 40px;
  width: 100%;
  max-width: 600px;
  position: relative;
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas:
    "slide thumbnail1"
    "slide thumbnail2"
    "slide thumbnail3";

    input { 
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      display: block;
    }

    >img {
      opacity: 0;
      z-index: 1;
      border-radius: $card-border-radius;
    }

    > label {
      height: 100%;
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      border-radius: $card-border-radius * $middle-cover-size;

      &:hover img {
        transform: scale(1.6);
      }

      img {
        transform: scale(1);
        transition: $main-transition;
        transform-origin: bottom left;
      }
    }

    .slide-1-th { grid-area: thumbnail1;}
    .slide-2-th { grid-area: thumbnail2;}
    .slide-3-th { grid-area: thumbnail3;}
    #slide1, #slide2, #slide3 {grid-area: slide;}

    #g-toggle1:checked ~ #slide1,
    #g-toggle2:checked ~ #slide2,
    #g-toggle3:checked ~ #slide3 { animation: gallery 1s 1 forwards;}
}


// Shop
// Shop
// Shop
.shop-container {
  width: 100%;
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.shop {
  overflow: scroll;
  scrollbar-width: none;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
  width: 100%;
}
.shop-card {
  background-color: $text-color-white;
  margin: 0 20px;
  width: $shop-card-width;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $card-border-radius;
  padding: $card-padding;
  position: relative;
  filter: $card-drop-shadow;

  &:first-child {
    margin-left: 5%;
  }

  &:last-child::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    height: 50%;
    width: 20px;
  }

  .card-img {
    width: 220px;
    height: 180px;
    align-self: center;
    overflow: hidden;

    img {
      width: 100%;
      transform: scale(1);
      transition: all ease .5s;
      transform-origin: center;
      &:hover {
          transform: scale(1.4);
      }
    }
  }

  .card-info {
    width: 100%;
    margin-top: 20px;
    
    span:first-child {
      font-weight: $landing-header-font-weight;
      display: block;
      color: $text-color-black;
    }

    span:last-child {
        display: block;
        font-size: $main-font-size;
        color: $dark-gray-color;
    }
  }

  .card-size {
    margin-top: 10px;

    span {
      color: $text-color-black;
      font-size: $main-font-size;
      font-weight: $btn-font-weight;
    }

    .size-btn {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
      width: $shop-card-width - 60;

      >a {
        width: 40px;
        height: 40px;
        border: solid 1px $text-color-black;
        color: $dark-gray-color;
        border-radius: 50%;
        transition: $main-transition;
        text-align: center;
        line-height: 38px;

        &:hover {
            background-color: $main-color;
            border-color: transparent;
            color: $text-color-white
        }
      }
    }
  }

  .card-btn {
    margin-top: 20px;
    width: $shop-card-width;
    background-color: #000000;
    align-self: center;
    border-radius: $card-border-radius;
    transition: all ease .3s;
    
    >a {
        padding: 7.5px 30px;
        font-weight: $btn-font-weight;
        >span {
            font-size: 1.2rem;
            color: $light-gray-color;
        }
        
        >div {
            display: flex;
            justify-content: space-between;
            color: $text-color-white;
        }

    }

    &:hover {
    background-color: $text-color-black;
    }
  }
}


// music
// Music
// music
.music-section {
  background-color: $container-color;
  overflow: hidden;
   > h3 {
     width: 100%;
     text-align: center;
   }
}
.album-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  a {
    position: relative;
    display: block;
    overflow: hidden;

    &:hover {
      img {
        filter: blur(1px);
      }
      
      div {
        opacity: 1;
        
        span {
          transform: translateY(0);
        }
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      filter: blur(0);
      transition: $main-transition;
    }

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0000006e;
      opacity: 0;
      transition: all ease .3s;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
          font-size: $sub-header-font-size;
          font-weight: $btn-font-weight;
          color: $text-color-white;
          cursor: pointer;
          display: block;
          text-align: center;
          transform: translateY(100%);
          transition: $main-transition;
      }
    }
  }
  
  .i-can-see-cover {
    flex: 0 0 25%;
    transform: translateX(-5%);
    border-radius: $card-border-radius * ($last-cover-size);
    max-width: 200px;
  }
  .rajaz-cover {
    flex: 0 0 40%;
    transform: translateX(-15%);
    border-radius: $card-border-radius * ($middle-cover-size);
    max-width: 300px;
  }
  .stationary-traveller-cover {
    flex: 0 0 60%;
    transform: translateX(-40%);
    border-radius: $card-border-radius;
    max-width: 400px;
    filter: $card-drop-shadow;
  }
}

// music-player
.music-player {
  margin-top: 60px;
  position: relative;
  width: 100%;
  max-width: 400px;
  height: $music-player-height;
  background-color: $music-player-color;
  border-radius: $card-border-radius;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  .controlers {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-color: $music-player-color;
    border: 2px solid $main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $card-border-radius;
    padding: $btn-padding;

    >a:nth-child(2) {
      width: 45px;
      height: 45px;

      svg path {
        fill: $main-color;
      }
      
      &:hover svg path {
        fill: $text-color-white;
      }
    }
    
    >a {
      width: 18px;
      height: 22px;
      margin: 0 10px;
      
      svg {
        width: 100%;
        height: 100%;

        > path {
            transition: $main-transition;
            fill: $text-color-white;
        }
      }
      &:hover svg path {
          fill: $main-color;
      }
    }
  }
  .play-list {
    position: absolute;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 40px;
    height: 90%;
    width: 100%;
    padding: $card-padding;

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 95%;

      a, span {
        display: block;
        color: $text-color-white;
        transition: all;
        transition: $main-transition;
      }

      a:hover {
        color: $logo-color;
      }

      &:last-child {
        align-items: flex-end;
      }
    }
  }
}