@import "variables";

$col-count: 12;
$first-breakpoint: xs;
$breakpoints: (
    s:   576px,
    m:   768px,
    l:   992px,
    xl:  1200px,
    xxl: 1600px,
);

@for $i from 1 through 12 {
    .col-#{$first-breakpoint}-#{$i} {
        width: (100% / $col-count) * $i;
    }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
    @media screen and (min-width: $breakpoint-value) {
        @for $i from 1 through $col-count {
            .col-#{$breakpoint-name}-#{$i} {
                width: (100% / $col-count) * $i;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    #toggle:checked {
        & ~ .toggle-container .button-toggle {
          box-shadow: 0 0 0 850px rgba(0, 0, 0, 0.8), inset 0 0 0 20px rgba( 0, 0, 0, 0.8);
        }
    }
    .footer-section {
        height: 600px;
    }
}
@media screen and (min-width: 768px) {
    body {
        font-size: $main-font-d-size;
    }
    .logo {
        width: 65px;
        height: 45px;
    }
    .history p {
        font-size: $main-font-d-size;
    }
    .buttons {
        font-size: $secondary-font-d-size;
    }
    .footer-section {
        height: 700px;
    }
    .copy-right > div span {
        margin-right: 50px;
    }

    // tour-page
    .date > span {
        font-size: $main-font-d-size;
    }
    .tour-container {
        height: 1250px;
    }
}
@media screen and (min-width:992px) {
    h3 {
        font-size: $header-font-d-size;
        line-height: 120px;
    }
    .offset-l-1 {
        margin-left: (100%) / 12;
    }
    .column-row {
        flex-direction: row;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    // nav-bar
    .nav-bar {
        display: none;
    }
    .navbar-desktop {
        display: block;
    }
    .landing-header {
        width: fit-content;
        height: 230px;
        top: 30%;
        align-items: flex-start;
        transform: translatey(-40%);

        > h2 {
            font-size: $landing-header-font-d-size;
        }

        > p {
            font-size: $main-font-d-size;
            margin-top: -10px;

            span {
                text-align: left;
            }
        }
    }

    // history
    .history h5 {
        font-size: $sub-header-font-d-size;
    }
    .h-img {
        margin: 0 40px 0 0 !important;
    }

    // music
    .music-section > div {
        justify-content: flex-end;
    }

    // footer
    .footer-section {

        footer {
            height: 300px;
        }
    }
    .site-links {
        > ul {
            flex-direction: row;

            > li {
                margin-left: 80px;
                
                &:first-of-type {
                    margin-left: 0;
                }

                ul {
                    display: block;

                    li {
                        margin-top: 10px;
                    }
                }
            }
        }

        label {
           display: none;
        }
    }
    .display-none {
        display: block;
        margin-bottom: 10px;
    }
    .copy-right > div {
        font-size: $footer-font-d-size;
    }
    
    // tour-page
    .tour-container {
        height: 100vh;
    }
    .date > span {
        text-align: left;
        width: 160px;
        &:last-of-type {
            margin-bottom: 6px;
        }
    }
}
@media screen and (min-width:1200px) {
    .container {
        width: $container-1200-width;
    }
    .container-width {
        width: $container-1200-width;
    }

    // history
    .history > div {
        justify-content: space-between;
    }
    .h-img, .h-p {
        max-width: 550px !important;
    }

    // shop
    .shop {
        justify-content: center;
    }
    .shop-card {
        &:last-child {
            margin-right: 0;
        }
    
        &:first-child {
            margin-left: 0;
        }
    }

    // music
    .music-player {
        max-width: 450px;
    }

    // footer
    .footer-section {
        background: left url(../../images/Vector/Egypt-Desktop2.svg);
    }
    .site-links > ul > li {
         margin-left: 120px;
    }
    .social-links {
        height: 115px;
        width: 115px;
        gap: 15px 15px;
      
        svg {
          width: 50px;
          height: 50px;
        }
    }
    .copy-right > div {
        font-size: $footer-font-d-size;
    }
}
@media screen and (min-width:1600px) {
    body, p {
        font-size: $secondary-font-d-size !important;
    }
    .buttons {
        font-size: $secondary-font-ld-size;
    }
    .container {
        width: $container-1600-width;
    }
    .container-width {
        width: $container-1600-width;
    }
    .landing-container {
        background-position: center right !important;
    }
    .landing-header {
        height: 320px;
     
        > h2 {
            font-size: $landing-header-font-ld-size;
            line-height: 140px;
        }

        p {
            margin-top: -60px;
        }
    }
    h3 {
        font-size: $header-font-ld-size;
        line-height: 140px;
    }

    // history
    .history {
        h5 {
            font-size: $header-font-d-size;
            line-height: 80px;
        }
    }
    .h-img, .h-p {
        margin: 0 !important;
        max-width: 650px !important;
    }

    // gallery
    .gallery {
        max-width: 700px;
    }

    // shop
    .shop {
        width: $container-1600-width;
        justify-content: space-between;

        .shop-card {
            margin: 0;
            width: $shop-card-d-width;

            .card-info {
                margin-top: 30px;

                span:last-child {
                    font-size: $main-font-d-size;
                }
            }

            .card-size {
                margin-top: 20px;

                span {
                    font-size: $secondary-font-d-size;
                }
            }

            .size-btn {
                margin-top: 10px;
                width: $shop-card-d-width - 60;

                > a {
                    width: 50px;
                    height: 50px;
                    line-height: 48px;
                }
            }
            .card-btn {
                width: $shop-card-d-width;
                // margin-top: 30px;
            }
        }
    }

    // contact
    form label {
        font-size: $secondary-font-d-size !important;
    }
    .contact-btn button {
        font-size: $secondary-font-d-size !important;
    }

    // footer
    .copy-right > div {
        font-size: $main-font-d-size;
    }
}