$col-count: 12;
$first-breakpoint: xs;
$breakpoints: (
    s:  576px,
    m:  768px,
    l:  992px,
    xl: 1200px,
);

@for $i from 1 through 12 {
    .col-#{$first-breakpoint}-#{$i} {
        width: (100% / $col-count) * $i;
    }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
    @media screen and (min-width: $breakpoint-value) {
        @for $i from 1 through $col-count {
            .col-#{$breakpoint-name}-#{$i} {
                width: (100% / $col-count) * $i;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    #toggle:checked {
        & ~ .toggle-container .button-toggle {
          box-shadow: 0 0 0 850px rgba(0, 0, 0, 0.8), inset 0 0 0 20px rgba( 0, 0, 0, 0.8);
        }
    }
    .footer-section {
        height: 600px;
    }
}
@media screen and (min-width: 768px) {
    .column-row {
        flex-direction: row;
    }
    .offset-1 {
        margin-left: (100%) / 12;
    }
}