@import "variables";

$col-count: 12;
$first-breakpoint: xs;
$breakpoints: (
    s:  576px,
    m:  768px,
    l:  992px,
    xl: 1200px,
);

@for $i from 1 through 12 {
    .col-#{$first-breakpoint}-#{$i} {
        width: (100% / $col-count) * $i;
    }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
    @media screen and (min-width: $breakpoint-value) {
        @for $i from 1 through $col-count {
            .col-#{$breakpoint-name}-#{$i} {
                width: (100% / $col-count) * $i;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    #toggle:checked {
        & ~ .toggle-container .button-toggle {
          box-shadow: 0 0 0 850px rgba(0, 0, 0, 0.8), inset 0 0 0 20px rgba( 0, 0, 0, 0.8);
        }
    }
    .footer-section {
        height: 600px;
    }
}
@media screen and (min-width: 768px) {
    body {
        font-size: $main-font-d-size;
    }
    .logo {
        width: 65px;
        height: 45px;
    }
    .column-row {
        flex-direction: row;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    .offset-1 {
        margin-left: (100%) / 12;
    }
    .history p {
        font-size: $main-font-d-size;
    }
    .buttons {
        font-size: $secondary-font-d-size;
    }
}
@media screen and (min-width:992px) {
    .nav-bar {
        display: none;
    }
    .navbar-desktop {
        display: block;
    }
    .landing-header {
        width: fit-content;
        height: 230px;
        top: 40%;
        align-items: flex-start;

        > h2 {
            font-size: $landing-header-font-d-size;
        }

        > p {
            font-size: $main-font-d-size;
            margin-top: -10px;

            span {
                text-align: left;
            }
        }
    }
}