@import "variables";
@import "reset";
@import "nesting";
@import "nav";
@import "contact-us";
@import "footer";
@import "Responsive.scss";

.tour-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: fixed no-repeat url(../images/concert.png);
    background-size: cover;
    overflow: hidden;
}
